<mat-toolbar color="primary" class="header-v1">
  <mat-toolbar-row class="header-v1-top">
    <div class="container">
      <div fxLayout="row wrap" fxLayout="center center">
        <div fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%">
          <div class="list-flex">
            <embryo-LanguageDropDown class="mr-3"></embryo-LanguageDropDown>
            <embryo-CurrencyDropDown [selectedValue]="embryoService?.currency" (selectedCurrency)="selectedCurrency($event)"></embryo-CurrencyDropDown>
          </div>
        </div>
        <div class="logo-site" fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
         <embryo-AppLogo></embryo-AppLogo>
        </div>
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
          <span fxFlex></span>
          <div class="list-flex user-tool">
            <embryo-HeaderCart [currency]="embryoService?.currency" [cartProducts]="embryoService?.localStorageCartProducts" [count]="embryoService?.navbarCartCount" (removeProductData)="openConfirmationPopup($event)"></embryo-HeaderCart>

            <embryo-WishList [currency]="embryoService?.currency" [wishListProducts]="embryoService?.wishes" [count]="embryoService?.navbarWishlistProdCount" (removeWishListData)="openWishlistConfirmationPopup($event)" (addAllWishlistToCart)="addAllWishlistToCart($event)" (addToCart)="addToCart($event)"></embryo-WishList>
            
            <embryo-HeaderUserProfileDropdown></embryo-HeaderUserProfileDropdown>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-v1-bottom main-menu-wrap">
    <div class="container">
      <div class="header-v1-bottom-inner">
        <embryo-Menu></embryo-Menu>
        <div class="search-box">
          <button type="button" mat-fab (click)="toggleSearch()">
            <i class="material-icons notranslate">
              search
            </i>
          </button>
        </div>
        <div class="search-form">
          <form>
            <input type="text" placeholder="Search and hit enter">
            <button type="button" mat-fab class="close-btn" (click)="toggleSearch()">
              <i class="material-icons">
                close
              </i>
            </button>
          </form>
        </div>
        <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
          <i class="material-icons">menu</i>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="responsive-bar relative">
      <div class="container">
        <div fxLayoutAlign="space-between">
       
          <button class="responsive-toggle" mat-icon-button (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
          </button>
          <div>
              <div class="search-box-bar">
                <button type="button" mat-mini-fab (click)="toggleSearch()">
                  <i class="material-icons notranslate">
                    search
                  </i>
                </button>
              </div>
              <div class="search-form">
                <form>
                  <input type="text" placeholder="Search and hit enter">
                  <button type="button" mat-fab class="close-btn" (click)="toggleSearch()">
                    <i class="material-icons">
                      close
                    </i>
                  </button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<embryo-FixedHeader></embryo-FixedHeader>
