
<div >

  <div class="view-cart text-right mb-5">
          <button mat-raised-button color="accent" (click)="toggleAdd()">Add Product</button>
  </div>

  <div class="addProduct" *ngIf="Add">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <mat-card class="register-form form-margin">
            <h5>Add a new Categorie</h5>
            <form>
              <div class="mb-4">
                <mat-form-field class="w-100">
                  <input matInput name="nom" #name="ngModel" [(ngModel)]="categorie.nom" type="text" placeholder="Categorie Name" required>
                </mat-form-field>
                
                <mat-form-field class="w-100">
                    <input matInput type="text" name="description" #name="ngModel" [(ngModel)]="categorie.desc"  placeholder=" Description " required>
                  </mat-form-field>

              <button color="accent" class="button-lg mb-3" mat-raised-button (click)="AddCategorie()" >Add</button>

              </div>
            </form>
          </mat-card>
        </div>
  </div>

  <mat-card class="products" *ngIf="show">
          <h4 class="mb-3">Categories List </h4>
         <table mat-table [dataSource]="service.Categories" class="w-100">
       
           <!--- Note that these columns can be defined in any order.
                         The actual rendered columns are set as a property on the row definition" -->
       
           <!-- id Column -->
           <ng-container matColumnDef="id">
             <th mat-header-cell *matHeaderCellDef>Id </th>
             <td mat-cell *matCellDef="let element"> {{element.id}} </td>
           </ng-container>
       
           <!-- Name Column -->
           <ng-container matColumnDef="nom">
             <th mat-header-cell *matHeaderCellDef>Categorie Name </th>
             <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
           </ng-container>
       
           <!-- price Column -->
           <ng-container matColumnDef="desc">
             <th mat-header-cell *matHeaderCellDef> Description </th>
             <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
           </ng-container>
           <!-- Actions Column -->
           <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                   <a (click)="toggleditt(element)" href="javascript:void" class="accent-color">   <i class="material-icons">
                      edit
                   </i></a>  
                </td>
           </ng-container>

           <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                     <a href="javascript:void" class="accent-color" (click)="removeCategorie(element)">   <i class="material-icons">
                        close
                     </i></a>  
                  </td>
             </ng-container>

           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
       
       
       
       </mat-card>
     

       <div class="editProduct" *ngIf="edit">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-card class="register-form form-margin">
                <h5>edit your Categorie</h5>
                <form>
                  <div class="mb-4">
                    <mat-form-field class="w-100">
                      <input matInput name="elementName" #name="ngModel" value="element.nom" [(ngModel)]="element.nom" type="text" placeholder="Categorie Name" required>
                    </mat-form-field>
                  <div class="mb-4">
                      <mat-form-field class="w-100">
                          <input matInput type="text" name="elementDescription" value="element.desc"  #name="ngModel" [(ngModel)]="element.desc" placeholder="Description " required>
                        </mat-form-field>
                  </div>
                  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="editCategorie()" >edit</button>
                  <button color="white" class="button-lg mb-3 cancel" mat-raised-button (click)="toggleditt(null)" >cancel</button>
                  </div>
                </form>
              </mat-card>
            </div>
      </div>
       

</div>
