
<div >

    <div class="view-cart text-right mb-5">
            <button mat-raised-button color="accent" (click)="toggleAdd()">Add Product</button>
    </div>

    <div class="addProduct" *ngIf="Add">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="register-form form-margin">
              <h5>Add a new Product</h5>
              <form>
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <input matInput name="name" #name="ngModel" [(ngModel)]="store.nom" type="text" placeholder="Store Name" required>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <input matInput type="number" name="tel" #name="ngModel" [(ngModel)]="store.tel" placeholder="Store tel" required>
                  </mat-form-field>
                  
                </div>
                <div class="mb-4">
                    <mat-form-field class="w-100">
                        <input matInput type="number" name="adresse" #name="ngModel" [(ngModel)]="store.adresse" placeholder="Store adresse" required>
                    </mat-form-field>
                </div>
                <button color="accent" class="button-lg mb-3" mat-raised-button (click)="AddStore()" >Add</button>
              </form>
            </mat-card>
          </div>
    </div>

    <mat-card class="products" *ngIf="show">
            <h4 class="mb-3">Stores List </h4>
           <table mat-table [dataSource]="service.stores" class="w-100">
         
             <!--- Note that these columns can be defined in any order.
                           The actual rendered columns are set as a property on the row definition" -->
         
             <!-- id Column -->
             <ng-container matColumnDef="idStore">
               <th mat-header-cell *matHeaderCellDef>idStore </th>
               <td mat-cell *matCellDef="let element"> {{element.idStore}} </td>
             </ng-container>
         
             <!-- Name Column -->
             <ng-container matColumnDef="nom">
               <th mat-header-cell *matHeaderCellDef>Store Name </th>
               <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
             </ng-container>
         
             <!-- price Column -->
             <ng-container matColumnDef="adresse">
               <th mat-header-cell *matHeaderCellDef> Adresse </th>
               <td mat-cell *matCellDef="let element"> {{element.adresse}} </td>
             </ng-container>
         
             <!-- Status Column -->
             <ng-container matColumnDef="tel">
                  <th mat-header-cell *matHeaderCellDef> Tel </th>
                  <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
                </ng-container>
         
                
             <!-- Actions Column -->
             <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                     <a (click)="toggleditt(element)" href="javascript:void" class="accent-color">   <i class="material-icons">
                        edit
                     </i></a>  
                  </td>
             </ng-container>

             <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element">
                       <a href="javascript:void" class="accent-color" (click)="removeStore(element)">   <i class="material-icons">
                          close
                       </i></a>  
                    </td>
               </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
         
         
         
         </mat-card>
         

         <div class="editProduct" *ngIf="edit">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-card class="register-form form-margin">
                  <h5>edit your Product</h5>
                  <form>
                    <div class="mb-4">
                      <mat-form-field class="w-100">
                        <input matInput name="elementName" #name="ngModel" value="element.nom" [(ngModel)]="element.nom" type="text" placeholder="Store Name" required>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput type="number" name="elementTel" value="element.tel" #name="ngModel" [(ngModel)]="element.tel" placeholder="Store tel" required>
                      </mat-form-field>
                  
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input matInput type="text" name="elementAdresse" value="element.adresse"  #name="ngModel" [(ngModel)]="element.adresse" placeholder="Store Description " required>
                          </mat-form-field>
                    </div>
                    <button color="accent" class="button-lg mb-3" mat-raised-button (click)="editStore()" >edit</button>
                    <button color="white" class="button-lg mb-3 cancel" mat-raised-button (click)="toggleditt(null)" >cancel</button>
                  </form>
                </mat-card>
              </div>
        </div>
          

</div>
