  <div fxLayoutAlign="space-between" *ngIf="singleProductDetails">
    <div fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
      <h4 class="primary-color">{{singleProductDetails?.nom}} </h4>
      <p> {{singleProductDetails?.description}}</p>
      <h3><embryo-Rating [rate]="singleProductDetails?.rating"></embryo-Rating></h3>

      <h5 *ngIf="reviews && reviews.length>0">{{reviews.length}} Reviews</h5>
    </div>
    <div>
      <button mat-raised-button color="accent" class="button-lg" (click)="dialogRef.close()">Add Later</button>
    </div>
  </div>
  <hr class="spacer">
  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" *ngIf="reviews && reviews.length>0">
          <div class="user-list-wrap">
              <div class="user-list" *ngFor="let userRate of reviews">
                <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                  <div fxFlex.xs="100" fxFlex.sm="20" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="20">
                    <img class="round-radius" src="assets/images/user-1.jpg" width="90" alt="Review user">
                  </div>
                  <div fxFlex.xs="100" fxFlex.sm="80" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80">
                    <h5>{{userRate.user.nom}}</h5>
                    <p>{{userRate?.review}}</p>
                  <p><embryo-Rating [rate]="userRate?.rating"></embryo-Rating></p><br>
                    
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <h4>Rate and Review</h4>
          
          <form class="example-form">             
              <mat-form-field class="w-100">
                <textarea matInput (keyup)="onKey($event)" placeholder="Write Review"></textarea>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-select placeholder="Rating" (selectionChange)="ratingAttribute( $event.value)">
                  <ng-container *ngFor="let quantity of quantityArray">
                    <mat-option  value="{{quantity}}">{{quantity}}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>
              <h5><embryo-Rating [rate]="rating"></embryo-Rating></h5><br><br>
              <button mat-raised-button color="accent" class="button-lg" (click)="dialogRef.close(); setRating();">Post Review</button>
            </form>
        </div>
  </div>
  