
<div >

    <div class="view-cart text-right mb-5">
            <button mat-raised-button color="accent" (click)="toggleAdd()">Add Product to Store</button>
    </div>

    <div class="addProduct" *ngIf="Add">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
            <mat-card class="register-form form-margin">
              <h5>Add a new equation</h5>
              <form>
                <div class="mb-4">
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Product" (selectionChange)="ProductAttribute($event.value)">
                      <ng-container *ngFor="let product of service.products  ">
                        <mat-option value="{{product.idProduit}}">{{product.nom}}</mat-option>
                      </ng-container>
                    </mat-select>
                    </mat-form-field>
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Store" (selectionChange)="StoreAttribute($event.value)">
                      <ng-container *ngFor="let store of service.stores  ">
                        <mat-option value="{{store.idStore}}">{{store.nom}}</mat-option>
                      </ng-container>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="w-100">
                      <input matInput type="number" name="qte" #name="ngModel" [(ngModel)]="qte.stock" placeholder="Product stock" required>
                  </mat-form-field>
                  
                </div>
                <button color="accent" class="button-lg mb-3" mat-raised-button (click)="AddQte()" >Add</button>
              </form>
            </mat-card>
          </div>
    </div>

    <mat-card class="products" *ngIf="show">
            <h4 class="mb-3">Products List </h4>
           <table mat-table [dataSource]="service.QtePerStores" class="w-100">
         
             <!--- Note that these columns can be defined in any order.
                           The actual rendered columns are set as a property on the row definition" -->
         
             <!-- id Column -->
             <ng-container matColumnDef="idQte">
               <th mat-header-cell *matHeaderCellDef>Id </th>
               <td mat-cell *matCellDef="let element"> {{element.idQte}} </td>
             </ng-container>
         
             <!-- Name Column -->
             <ng-container matColumnDef="product">
               <th mat-header-cell *matHeaderCellDef>Product Name </th>
               <td mat-cell *matCellDef="let element"> {{element.product.nom}} </td>
             </ng-container>
         
             <!-- price Column -->
             <ng-container matColumnDef="store">
               <th mat-header-cell *matHeaderCellDef> Store </th>
               <td mat-cell *matCellDef="let element"> {{element.store.nom}} </td>
             </ng-container>
         
             <!-- Status Column -->
             <ng-container matColumnDef="qte">
                  <th mat-header-cell *matHeaderCellDef> Quantity </th>
                  <td mat-cell *matCellDef="let element"> {{element.qte}} </td>
                </ng-container>
             <!-- Actions Column -->
             <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                     <a (click)="toggleditt(element)" href="javascript:void" class="accent-color">   <i class="material-icons">
                        edit
                     </i></a>  
                  </td>
             </ng-container>

             <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element">
                       <a href="javascript:void" class="accent-color" (click)="removeQte(element)">   <i class="material-icons">
                          close
                       </i></a>  
                    </td>
               </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
         
         
         
         </mat-card>
         

         <div class="editProduct" *ngIf="edit">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-card class="register-form form-margin">
                  <h5>edit your Product</h5>
                  <form>
                    <div class="mb-4">

                        <mat-form-field class="w-100">
                            <mat-select placeholder="Product" (selectionChange)="ProductAttribute($event.value)">
                              <ng-container *ngFor="let product of service.products  ">
                                <mat-option value="{{product.idProduit}}">{{product.nom}}</mat-option>
                              </ng-container>
                            </mat-select>
                            </mat-form-field>
                          <mat-form-field class="w-100">
                            <mat-select placeholder="Store" (selectionChange)="StoreAttribute($event.value)">
                              <ng-container *ngFor="let store of service.stores  ">
                                <mat-option value="{{store.idStore}}">{{store.nom}}</mat-option>
                              </ng-container>
                            </mat-select>
                          </mat-form-field>

                      <mat-form-field class="w-100">
                          <input matInput type="number" name="elementStock" value="element.qte" #name="ngModel" [(ngModel)]="element.qte" placeholder="Product Stock" required>
                      </mat-form-field>
                  
                    </div>
                    <button color="accent" class="button-lg mb-3" mat-raised-button (click)="editQte()" >edit</button>
                    <button color="white" class="button-lg mb-3 cancel" mat-raised-button (click)="toggleditt(null)" >cancel</button>
                  </form>
                </mat-card>
              </div>
        </div>
          

</div>
