<ng-container *ngIf="product">
  <embryo-PageTitle heading="{{product.nom}}"></embryo-PageTitle>
  <div class="inner-container">
    <div class="product-detail-page">
      <embryo-ShopDetails [currency]="embryoService?.currency" [detailData]="product"></embryo-ShopDetails>
        <div class="bg-grey section-gap" >
        <div class="container" >
            <div *ngIf="!Stores.length >0" >
                <div class="block-title text-center gap">
                    <h2>the desired product is not aviable at the moment !!!</h2>
                  </div>
            </div>
          <div *ngIf="Stores.length >0">
          <div class="block-title text-center gap">
            <h2>Stores which have the desired product </h2>
          </div>

          <embryo-LighteningDeals  [lighteningDeals]="Stores"></embryo-LighteningDeals>

         <!-- <embryo-store-grid [Stores]="Stores" ></embryo-store-grid>-->
          <!--<embryo-ProductGrid [currency]="embryoService?.currency" [products]="productsList" gridLength="4" (addToCart)="addToCart($event)" (addToWishList)="addToWishList($event)"></embryo-ProductGrid>-->
          <!--<div class="text-center mt-4">
            <button mat-raised-button [routerLink]="['/products', type]">Show All</button>
          </div>-->
        </div>
        
        </div>
      </div>-->
    </div>
  </div>
</ng-container>
