<app-side-bar></app-side-bar>
<div class="parent">
  
  <div *ngIf="tab === 'Products'" >
   <app-products></app-products>
  </div>


  <div *ngIf="tab === 'Stores'">
    <app-stores></app-stores>
  </div>


  <div *ngIf="tab === 'Categories'">
    <app-categories></app-categories>
  </div>


  <div *ngIf="tab === 'Marques'">

    <app-marques></app-marques>

  </div>


  <div *ngIf="tab === 'Agents'">

    <app-agents></app-agents>

  </div>
 
  <div *ngIf="tab === 'Products Distributions'">

      <app-qte-per-store></app-qte-per-store>
  
    </div>
  
  
</div>