.addProduct{
    max-width: 700px;
    margin-left: 200px;
    padding-top: 50px;
}

.products{
    margin-bottom: 20px;
}

.cancel{
    margin-left: 20px;
}
.editProduct{
    max-width: 700px;
    margin-left: 200px;
    padding-top: 50px;

}