<div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" >
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="{{lg}}" fxFlex.xl="{{xl}}" *ngFor="let Store of Stores; ">
       <mat-card class="example-card">
       
         <!-- <img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo of a Shiba Inu">-->
         <img width="626" height="800" mat-card-image src="assets/images/men/3-item-e.jpg" alt="Photo of a Shiba Inu">
       
       
          <mat-card-content class="product-content relative">
             <h5><a [routerLink]="['/products', product?.type, product?.idProduit]" class="title-link">{{Store?.nom}}</a> </h5>
             <div>
                <div fxFlex fxLayoutAlign="space-between">
                   <h6 class="accent-color">{{Store?.adresse}}</h6>
                   <div class="rating-star">
                      <embryo-Rating [rate]="product.rating"></embryo-Rating>
                   </div>
                </div>
             </div>
             <div class="m-icon" *ngIf="checkCartAlready(product)">
                <embryo-AddToCardButton [product]="product" (addToCart)="addToCartProduct($event)"></embryo-AddToCardButton>
             </div>
             <div class="m-icon" *ngIf="!checkCartAlready(product)">
                 <button mat-fab [routerLink]="['/products', product?.type, product?.idProduit]"><i class="material-icons">remove_red_eye</i> </button>
             </div>
             
          </mat-card-content>
       </mat-card>
       <!-- Multiple show products grid 
       <mat-card class="example-card" *ngIf="!gridLength">
         
           <!-- <img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo">
           <img width="626" height="800" mat-card-image src="assets/images/men/3-item-e.jpg" alt="Photo">
         
          
          <div class="wishlist-icon {{i}}-wishlist">
              <a (click)="productAddToWishlist(product, i+'-wishlist')"><i  class="material-icons"> favorite </i></a>
           </div>
          <mat-card-content class="product-content relative">
             <h5><a *ngIf="product?.idProduit" [routerLink]="['/products', product?.type, product?.idProduit]" class="title-link">{{product?.nom}}</a> </h5>
             <h5><a *ngIf="!product?.idProduit" [routerLink]="['/products/accessories/17']" class="title-link">{{product?.nom}}</a> </h5>
             <div>
                <div fxFlex fxLayoutAlign="space-between">
                   <h6 class="accent-color">{{product?.price | currency: currency }}</h6>
                   <div class="rating-star">
                      <embryo-Rating [rate]="product.rating"></embryo-Rating>
                   </div>
                </div>
             </div>
             <div class="m-icon" *ngIf="checkCartAlready(product)">
                <embryo-AddToCardButton [product]="product" (addToCart)="addToCartProduct($event)"></embryo-AddToCardButton>
             </div>
              <div class="m-icon" *ngIf="!checkCartAlready(product)">
                 <button mat-fab *ngIf="product?.idProduit" [routerLink]="['/products', product?.type, product?.idProduit]"><i class="material-icons">remove_red_eye</i> </button>
                 <button mat-fab *ngIf="!product?.idProduit"[routerLink]="['/products/accessories/17']"><i class="material-icons">remove_red_eye</i> </button>
             </div>
            
          </mat-card-content>
       </mat-card>-->
    </div>
  </div>
  
  