
<div >

  <div class="view-cart text-right mb-5">
          <button mat-raised-button color="accent" (click)="toggleAdd()">Add Product</button>
  </div>

  <div class="addProduct" *ngIf="Add">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
          <mat-card class="register-form form-margin">
            <h5>Add a new Agent</h5>
            <form>
              <div class="mb-4">
                <mat-form-field class="w-100">
                  <input matInput name="nom" #name="ngModel" [(ngModel)]="agent.nom" type="text" placeholder="Agent FirstName" required>
                </mat-form-field>
                
                <mat-form-field class="w-100">
                    <input matInput type="text" name="prenom" #name="ngModel" [(ngModel)]="agent.prenom"  placeholder=" Agent LastName" required>
                  </mat-form-field>
                <mat-form-field class="w-100">
                  <input matInput type="text" name="mail" #name="ngModel" [(ngModel)]="agent.mail" placeholder="Agent Email" required>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input matInput type="number" name="cin" #name="ngModel" [(ngModel)]="agent.cin" placeholder="Product CIN" required>
                </mat-form-field>

                <mat-form-field class="w-100">

                  <mat-select placeholder="Store" (selectionChange)="ratingAttribute($event.value)">
                    <ng-container *ngFor="let store of service.stores  ">
                      <mat-option value="{{store.idStore}}">{{store.nom}}</mat-option>
                    </ng-container>
                  </mat-select>

                </mat-form-field>

                

              </div>

              <button color="accent" class="button-lg mb-3" mat-raised-button (click)="AddAgent()" >Add</button>

            </form>
          </mat-card>
        </div>
  </div>

  <mat-card class="products" *ngIf="show">
          <h4 class="mb-3">Agents List </h4>
         <table mat-table [dataSource]="service.Agents" class="w-100">
       
           <!--- Note that these columns can be defined in any order.
                         The actual rendered columns are set as a property on the row definition" -->
       
           <!-- id Column -->
           <ng-container matColumnDef="idAgent">
             <th mat-header-cell *matHeaderCellDef>Id </th>
             <td mat-cell *matCellDef="let element"> {{element.idAgent}} </td>
           </ng-container>
       
           <!-- Name Column -->
           <ng-container matColumnDef="nom">
             <th mat-header-cell *matHeaderCellDef>Agent FirstName </th>
             <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
           </ng-container>
       
           <!-- price Column -->
           <ng-container matColumnDef="prenom">
             <th mat-header-cell *matHeaderCellDef> Agent lastName </th>
             <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
           </ng-container>
       
           <!-- Status Column -->
           <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef> AgentCIN </th>
                <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
              </ng-container>
       
              <ng-container matColumnDef="mail">
                      <th mat-header-cell *matHeaderCellDef> Agent Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
                    </ng-container>
           <!-- Actions Column -->
           <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element">
                   <a (click)="toggleditt(element)" href="javascript:void" class="accent-color">   <i class="material-icons">
                      edit
                   </i></a>  
                </td>
           </ng-container>

           <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element">
                     <a href="javascript:void" class="accent-color" (click)="removeAgent(element)">   <i class="material-icons">
                        close
                     </i></a>  
                  </td>
             </ng-container>

           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
       
       
       
       </mat-card>
      

       <div class="editProduct" *ngIf="edit">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              <mat-card class="register-form form-margin">
                <h5>edit your Product</h5>
                <form>
                  <div class="mb-4">
                
                  </div>
                  <div class="mb-4">
                      <mat-form-field class="w-100">

                          <mat-select placeholder="Store" (selectionChange)="ratingAttribute($event.value)">
                            <ng-container *ngFor="let store of service.stores  ">
                              <mat-option value="{{store.idStore}}">{{store.nom}}</mat-option>
                            </ng-container>
                          </mat-select>
        
                        </mat-form-field>
                  </div>
                  <button color="accent" class="button-lg mb-3" mat-raised-button (click)="editAgent()" >edit</button>
                  <button color="white" class="button-lg mb-3 cancel" mat-raised-button (click)="toggleditt(null)" >cancel</button>
                </form>
              </mat-card>
            </div>
      </div>
        -->

</div>
