
<div >

        <div class="view-cart text-right mb-5">
                <button mat-raised-button color="accent" (click)="toggleAdd()">Add Product</button>
        </div>

        <div class="addProduct" *ngIf="Add">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                <mat-card class="register-form form-margin">
                  <h5>Add a new Product</h5>
                  <form>
                    <div class="mb-4">
                      <mat-form-field class="w-100">
                        <input matInput name="name" #name="ngModel" [(ngModel)]="product.nom" type="text" placeholder="Product Name" required>
                      </mat-form-field>
                      
                      <mat-form-field class="w-100">
                        <mat-select placeholder="Categorie" (selectionChange)="CategorieAttribute($event.value)">
                          <ng-container *ngFor="let Categorie of service.Categories  ">
                            <mat-option value="{{Categorie.id}}">{{Categorie.nom}}</mat-option>
                          </ng-container>
                        </mat-select>
                        </mat-form-field>
                      <mat-form-field class="w-100">
                        <mat-select placeholder="Marque" (selectionChange)="MarqueAttribute($event.value)">
                          <ng-container *ngFor="let Marque of service.Marques  ">
                            <mat-option value="{{Marque.id}}">{{Marque.nom}}</mat-option>
                          </ng-container>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput type="number" name="stock" #name="ngModel" [(ngModel)]="product.stock" placeholder="Product stock" required>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput type="number" name="price" #name="ngModel" [(ngModel)]="product.price" placeholder="Product price" required>
                      </mat-form-field>
                      
                    </div>
                    <div class="mb-4">
                        <mat-form-field class="w-100">
                            <input matInput type="text" name="description" #name="ngModel" [(ngModel)]="product.description" placeholder="Product Description " required>
                          </mat-form-field>
                    </div>
                    <button color="accent" class="button-lg mb-3" mat-raised-button (click)="AddProduct()" >Add</button>
                  </form>
                </mat-card>
              </div>
        </div>

        <mat-card class="products" *ngIf="show">
                <h4 class="mb-3">Products List </h4>
               <table mat-table [dataSource]="service.products" class="w-100">
             
                 <!--- Note that these columns can be defined in any order.
                               The actual rendered columns are set as a property on the row definition" -->
             
                 <!-- id Column -->
                 <ng-container matColumnDef="idProduit">
                   <th mat-header-cell *matHeaderCellDef>Id </th>
                   <td mat-cell *matCellDef="let element"> {{element.idProduit}} </td>
                 </ng-container>
             
                 <!-- Name Column -->
                 <ng-container matColumnDef="nom">
                   <th mat-header-cell *matHeaderCellDef>Product Name </th>
                   <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                 </ng-container>
             
                 <!-- price Column -->
                 <ng-container matColumnDef="price">
                   <th mat-header-cell *matHeaderCellDef> Price </th>
                   <td mat-cell *matCellDef="let element"> ${{element.price}} </td>
                 </ng-container>
             
                 <!-- Status Column -->
                 <ng-container matColumnDef="stock">
                      <th mat-header-cell *matHeaderCellDef> Stock </th>
                      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                    </ng-container>
             
                    <ng-container matColumnDef="avialable">
                            <th mat-header-cell *matHeaderCellDef> avialable </th>
                            <td mat-cell *matCellDef="let element"> {{element.avialable}} </td>
                          </ng-container>
                    
                          <ng-container matColumnDef="rating">
                                <th mat-header-cell *matHeaderCellDef> rating </th>
                                <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
                              </ng-container>
                 <!-- Actions Column -->
                 <ng-container matColumnDef="edit">
                      <th mat-header-cell *matHeaderCellDef>  </th>
                      <td mat-cell *matCellDef="let element">
                         <a (click)="toggleditt(element)" href="javascript:void" class="accent-color">   <i class="material-icons">
                            edit
                         </i></a>  
                      </td>
                 </ng-container>

                 <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>  </th>
                        <td mat-cell *matCellDef="let element">
                           <a href="javascript:void" class="accent-color" (click)="removeProduct(element)">   <i class="material-icons">
                              close
                           </i></a>  
                        </td>
                   </ng-container>

                 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               </table>
             
             
             
             </mat-card>
             

             <div class="editProduct" *ngIf="edit">
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                    <mat-card class="register-form form-margin">
                      <h5>edit your Product</h5>
                      <form>
                        <div class="mb-4">
                          <mat-form-field class="w-100">
                            <input matInput name="elementName" #name="ngModel" value="element.nom" [(ngModel)]="element.nom" type="text" placeholder="Product Name" required>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput type="number" name="elementStock" value="element.stock" #name="ngModel" [(ngModel)]="element.stock" placeholder="Product stock" required>
                          </mat-form-field>
                          <mat-form-field class="w-100">
                              <input matInput type="number" name="elementPrice" value="element.price" #name="ngModel" [(ngModel)]="element.price" placeholder="Product price" required>
                          </mat-form-field>
                      
                        </div>
                        <div class="mb-4">
                            <mat-form-field class="w-100">
                                <input matInput type="text" name="elementDescription" value="element.description"  #name="ngModel" [(ngModel)]="element.description" placeholder="Product Description " required>
                              </mat-form-field>
                        </div>
                        <button color="accent" class="button-lg mb-3" mat-raised-button (click)="editProduct()" >edit</button>
                        <button color="white" class="button-lg mb-3 cancel" mat-raised-button (click)="toggleditt(null)" >cancel</button>
                      </form>
                    </mat-card>
                  </div>
            </div>
              

</div>
