<mat-card class="example-card" *ngIf="product">
   <a class="p-link" [routerLink]="['/products', product?.type, product?.idProduit]">
     <!--<img width="626" height="800" mat-card-image [src]="product?.image" alt="Photo">-->
     <img width="626" height="800" mat-card-image src="assets/images/men/3-item-a.jpg" alt="Photo">
     
   </a>
   <div class="wishlist-icon {{index}}-wishlist">
      <a (click)="productAddToWishlist(product, index+'-wishlist')"><i  class="material-icons"> favorite </i></a>
   </div>
  <mat-card-content class="product-content relative">
     <h5><a [routerLink]="['/products', product?.type, product?.id]" class="title-link">{{product?.name}}</a>-->{{product.nom}} </h5>
     <h6><!-- <a [routerLink]="['/products', product?.type, product?.id]" class="title-link">{{product?.name}}</a>-->{{marque}} </h6>
     <div>
        <div fxFlex fxLayoutAlign="space-between">
           <h6 class="accent-color">{{product.price | currency: currency}}</h6>
           <div class="rating-star">
              <embryo-Rating [rate]="product.rating"></embryo-Rating>
           </div>
        </div>
     </div>
   <!--  <div class="m-icon" *ngIf="checkCartAlready(product)">
      <embryo-AddToCardButton [product]="product" (addToCart)="addToCartProduct($event)"></embryo-AddToCardButton>
     </div>
     <div class="m-icon" *ngIf="!checkCartAlready(product)">
         <button mat-fab [routerLink]="['/products', product?.type, product?.id]"><i  class="material-icons"> remove_red_eye </i></button>
     </div>-->
  </mat-card-content>
</mat-card>


